html, body
{
	height: 100%;
}

body
{
  background-color: #505050 !important;
}

h2, p, li
{
	color: white !important;
}

h2#infoHeader
{
	margin-top: 0px;
}

#graphVis
{
	float: left;
	min-height: 97%;
	min-width: 62%;
	margin-top: 15px;
	margin-left: 25px;
	background-color: rgba(207, 214, 210, 0.46);
}

#mainMenu
{
	min-height: 97%;
	width: 500px;
	float: left;
	margin-top: 15px;
	padding: 0 10px 10px 10px;
	border-right: thin solid rgba(255, 255, 255, 0.64);
}

#allDiseases
{
	margin-left: 10px;
	color: white;
	font-size: large;
}

#buttons
{
	padding-top: 20px;
}

.visButton {
    background-color: #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius:5px;
    color: #fff;
    font-family: "Oswald";
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
	margin-top: 5px;
}

.visButton:hover {
    border: none;
    background: lightblue;
    box-shadow: 0px 0px 1px #777;
}

.d3-tip
{
	padding: 0.4em;
	border: 2px double gray;
	background-color: rgba(200, 200, 200, 0.9);
}

.link {
  stroke: #ccc;
}

.node text {
	pointer-events: none;
	font: 12px sans-serif;
	color: #e8e7e7;
}

.form-control
{
	margin-bottom: 20px;
}
