body
{
  background-color: #303030;
}

#forceGraph
{
	float: right;
	height: 750px;
	width: 500px;
	background-color: white;
}

#stackBars
{
	float: right;
	height: 750px;
	width: 500px;
	background-color: white;
}

.mainMenu
{
	border-right: thick solid #ff0000;
}
