body
{
  background-color: #505050;
}

#graphViz
{
	position: static;
	float: right;
	height: 750px;
	width: 900px;
	background-color: rgb(207, 214, 210);
}

#mainMenu
{
	height: 750px;
	width: 500px;
	float: left;
	padding-right: 10px;
	border-right: thin solid rgba(255, 255, 255, 0.64);
}

#allDiseases
{
	margin-left: 10px;
	color: white;
}

#overview
{
	background-color: rgba(238, 230, 224, 0.78);
}

.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}
.form-control
{
	margin-bottom: 25px;
}
