body
{
  background-color: #505050 !important;
}

#graphViz
{
	position: static;
	float: right;
	height: 750px;
	width: 900px;
	background-color: rgba(207, 214, 210, 0.46);
}

#mainMenu
{
	height: 750px;
	width: 500px;
	float: left;
	padding-right: 10px;
	border-right: thin solid rgba(255, 255, 255, 0.64);
}

#allDiseases
{
	margin-left: 10px;
	color: white;
}

#overview
{
	background-color: rgba(238, 230, 224, 0.78);
}

.d3-tip
{
	padding: 0.4em;
	border: 2px double gray;
	background-color: rgba(200, 200, 200, 0.9);
}

.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 12px sans-serif;
	color: #e8e7e7;
}
.form-control
{
	margin-bottom: 25px;
}
