body
{
  background-color: #303030;
}

#graphViz
{
	position: static;
	float: right;
	height: 750px;
	width: 900px;
	background-color: white;
}

#mainMenu
{
	height: 750px;
	width: 500px;
	float: left;
	border-right: thin solid rgba(255, 255, 255, 0.64);
}
